@font-face {
    font-family: 'FS-cloudmania';
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/FS-cloudmania-Light.otf") format("otf");
    font-display: swap;
}

@font-face {
    font-family: 'FS-cloudmania';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/FS-cloudmania-Regular.otf") format("otf");
    font-display: swap;
}

@font-face {
    font-family: 'FS-cloudmania';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/FS-cloudmania-Regular.otf") format("otf");
    font-display: swap;
}

@font-face {
    font-family: 'FS-cloudmania';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/FS-cloudmania-Bold.otf") format("otf");
    font-display: swap;
}

@font-face {
    font-family: 'FS-cloudmania';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/FS-cloudmania-Heavy.otf") format("otf");
    font-display: swap;
}
